body{
    margin: 0;
    padding: 0;
    background-image: url('Image/beautiful.webp');
    height: 623px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 100px;
    padding: 30px;
}

p{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
    
    
